/*-------------------------------------------------- GLOBAL --------------------------------------------------*/

html {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 auto;
    color: white;
}

/*-------------------------------------------------- HEADER --------------------------------------------------*/

header {
    height: 112px;
    width: 100%;
    background-color: black;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #D22CF5;
    text-decoration: none;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: 40px;
}

header .logo span {
    color: white;
    font-weight: 400;
}

header .logo p {
    font-size: 16px;
    color: white;
    font-family: 'Poppins';
    font-weight: 300;
}

.header-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
    margin-top: 30px;
}

.header-nav ul li a {
    text-decoration: none;
    color: white;
}

.header-nav ul li a:hover {
    color: #D22CF5;
    transition: .3s;
}

svg {
    height: 25px;
    width: 25px;
}

@media (max-width: 1398px) {
    header {
        padding: 18px 3px;
        transition: .2s;
        max-height: 112px;
    }

    .logo {
        margin-top: 22px;
        transition: .2s;
    }

    .header-nav ul li {
        margin-top: 12px;
        margin-bottom: 0px;
        transition: .2s;
    }
}

@media (max-width: 600px) {
    .header-nav ul li {
        padding: 0px 8px;
        margin-top: 32px;
    }
}
/*-------------------------------------------------- NAVIGATIONBAR --------------------------------------------------*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101018;
    color: white;
    height: 60px;
    position: relative;
    font-size: 18px;
  }
  
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10%;
  }
  
  .search-bar form {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .search-bar button[type="submit"] {
    border: none;
    background-color: #FF6001;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  .nav,
  #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked ~ .nav {
    display: block;
  }

  .nav a {
    display: block;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav {
    position: absolute;
    background: #101018;
    left: 0px;
    text-align: center;
    top: 54px;
    padding: 0px 122px;
    margin-right: 2%;
  }

  .nav a:hover {
    color: #D22CF5;
    transition: .2s;
  }

  .hamburger-icon {
    margin-right: 40px;
  }

  @media (min-width: 600px) {
    .nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    .nav a {
        display: inline-block;
    }
  }


/*-------------------------------------------------- HEROPICTURE/TEXT --------------------------------------------------*/

.Background {
    background-image: url(/IMAGES/header.png);
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.Textbox {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.56) 100%);
    height: 270px;
    width: 520px;
    border-radius: 40px 0px 0px 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 450px;
    margin-left: 1100px;
}

.Textbox h2 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Montserrat';
    text-align: center;
    letter-spacing: 5.4px;
    margin-top: 52px;
    line-height: 1.0;
    display: block;
}

.Textbox p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0.4px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.view-btn {
    background-color: #FF6001;
    height: 42px;
    width: 150px;
    border-radius: 60px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 8px;
    display: block;
    margin-left: 180px;
}

.view-btn:hover {
    background-color: white;
    transform: scale(1.1);
}

/*-------------------------------------------------- FEATURED GAMES --------------------------------------------------*/

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: white;
  }
  
  .line {
    flex: 1;
    height: 0.5px;
    margin: 0 10px;
    background-color: white;
    max-width: 100%;
  }
  
  h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  h3 span {
    color: #FF6001;
  }

/*-------------------------------------------------- GALLERY1 --------------------------------------------------*/

.Gallery {
    background: linear-gradient(180deg, rgba(16, 16, 24, 0.9) 0%, rgba(16, 16, 24, 0) 100%);
    width: 100%;
    height: 350px;
    display: grid;
}

.Gallery ul {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.Gallery ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.Gallery ul li a {
    height: 286px;
    width: 224px;
    background-size: cover;
    position: absolute;
    background-position: center;
}

.Gallery ul li a:hover {
    transform: scale(1.1);
    transition: 0.15s;
}

.Image-container {
    background-image: url(/IMAGES/lich.webp);
}

.Image-container2 {
    background-image: url(/IMAGES/grand.webp);
}

.Image-container3 {
    background-image: url(/IMAGES/got.png);
}

.Image-container4 {
    background-image: url(/IMAGES/ggg.png);
}

.Text {
    width: 224px;
    height: 46px;
    background-color: #000000;
    opacity: 80%;
    position: absolute;
}

.Desc {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


/*-------------------------------------------------- INFORMATIONAL --------------------------------------------------*/

.Info-container {
    margin: 90px auto;
    padding: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info-container img {
    float: left;
    margin-right: 30px;
}

.text-box {
    display: grid;
}

h4 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 490px;
    margin-left: 30px;
    margin-top: 20px;
}

.text-box p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 397px;
    margin-left: 30px;
}

.read-btn {
    background-color: #FF6001;
    height: 42px;
    width: 150px;
    border-radius: 60px;
    margin-left: 220px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-family: 'Poppins';
    margin-bottom: 52px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 8px;
}

.read-btn:hover {
    background-color: white;
    transform: scale(1.1);
}

/*-------------------------------------------------- POPULAR GAMES --------------------------------------------------*/

h5 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: white;
    text-align: center;
}

h5 span {
    color: #FF6001;
}

.Line3 hr {
    float: left;
    margin-left: 543.5px;
}

.Line4 hr {
    float: right;
    margin-right: 543.5px;
}

/*-------------------------------------------------- GALLERY2 --------------------------------------------------*/

.Gallery2 {
    background: linear-gradient(180deg, rgba(16, 16, 24, 0.9) 0%, rgba(16, 16, 24, 0) 100%);
    width: 100%;
    height: 332px;
    margin: 0 auto;
}

.Gallery-container2 li {
    float: left;
    margin: 40px 140px;
    list-style: none;
}

.Image-container5 {
    background-image: url(/IMAGES/Call\ of\ duty.png);
}

.Image-container6 {
    background-image: url(/IMAGES/Assassins\ creed.png);
}

.Image-container7 {
    background-image: url(/IMAGES/carsss.png);
}

.Image-container8 {
    background-image: url(/IMAGES/drage.png);
}

.Image-container5, 
.Image-container6, 
.Image-container7, 
.Image-container8 {
    height: 286px;
    width: 224px;
    background-size: cover;
    position: absolute;
    background-position: center;
}

.Image-container5:hover, 
.Image-container6:hover, 
.Image-container7:hover, 
.Image-container8:hover {
    transform: scale(1.1);
}

.Text {
    width: 224px;
    height: 46px;
    background-color: #000000;
    opacity: 80%;
    position: absolute;
    margin-top: 240px;
}

.Desc {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


/*-------------------------------------------------- NEWSLETTER --------------------------------------------------*/

.Info-container2 {
    margin: 90px auto;
    padding: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info-container2 img {
    float: right;
    margin-right: 30px;
}

.text-box {
    display: grid;
}

h4 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    width: 490px;
    margin-left: 30px;
    margin-top: 20px;
}

.text-box p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 619px;
    margin-left: 30px;
}

/*-------------------------------------------------- Footer --------------------------------------------------*/

footer {
    height: 261px;
    width: 100%;
    background-color: black;
    list-style: none;
}

.Contact a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.Contact li p {
    font-size: 15px;
}

.About a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 0px 0px 200px 300px
}

.Follow img {
    height: 25px;
    width: 25px;
    margin-left: 5px;
}
