/*-------------------------------------------------- GLOBAL --------------------------------------------------*/

html {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 auto;
    color: white;
}

/*-------------------------------------------------- HEADER --------------------------------------------------*/

header {
    height: 112px;
    background-color: black;
    top: 0px;
    z-index: 3;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #D22CF5;
    text-decoration: none;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: 40px;
}

header .logo span {
    color: white;
    font-weight: 400;
}

header .logo p {
    font-size: 16px;
    color: white;
    font-family: 'Poppins';
    font-weight: 300;
}

.navigate a i {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 4px 20px;
    margin-top: 40px;
}

.navigate i {
    font-size: 22px;
}

.navigate i:hover {
    color: #D22CF5;
    transition: 0.2s;
}



@media (max-width: 1398px) {
    header {
        padding: 18px 3px;
        transition: .2s;
        max-height: 112px;
    }

    .logo {
        margin-top: 22px;
        transition: .2s;
    }

    .navigate a i {
        margin-top: 22px;
        margin-bottom: 0px;
        transition: .2s;
    }
}

@media (max-width: 600px) {
    .navigate a i {
        padding: 0px 8px;
        margin-top: 32px;
    }
}
/*-------------------------------------------------- NAVIGATIONBAR --------------------------------------------------*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101018;
    color: white;
    height: 60px;
    z-index: 2;
    top: 112px;
    font-size: 18px;
  }
  
  .search-bar {
    align-items: center;
    margin-left: 10%;
  }
  
  .search-bar input {
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .search-bar button {
    border: none;
    background-color: #FF6001;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  .nav,
  #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked ~ .nav {
    display: block;
  }

  .nav a {
    display: block;
    color: white;
    padding: 10px 28px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav {
    position: absolute;
    background: #101018;
    left: 0px;
    text-align: center;
    top: 54px;
    padding: 0px 122px;
    margin-right: 2%;
  }

  .nav a:hover {
    color: #D22CF5;
    transition: .2s;
  }

  .hamburger-icon {
    margin-right: 40px;
  }

  @media (min-width: 600px) {
    .nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    .nav a {
        display: inline-block;
    }
  }


/*-------------------------------------------------- HEROPICTURE/TEXT --------------------------------------------------*/

.Background {
    background-image: url(/IMAGES/header.png);
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 1 auto;
}

.Textbox {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.56) 100%);
    height: 270px;
    width: clamp(350px, 50%, 520px);
    border-radius: 40px 0px 0px 40px;
    margin-bottom: 180px;
    justify-content: center;
}

.Textbox h2 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Montserrat';
    text-align: center;
    align-self: center;
    letter-spacing: 5.4px;
    margin-top: 52px;
    line-height: 1.0;

}

.Textbox p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 30px;
}

.view-btn {
    background-color: #FF6001;
    height: 42px;
    width: 150px;
    border-radius: 60px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding-top: 8px;
    margin-left: 180px;

}

.view-btn:hover {
    background-color: white;
    transform: scale(1.1);
}

/*-------------------------------------------------- FEATURED GAMES --------------------------------------------------*/

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: white;
  }
  
  .line {
    flex: 1;
    height: 0.5px;
    margin: 0 10px;
    background-color: white;
    max-width: 100%;
  }
  
  h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  h3 span {
    color: #FF6001;
  }

/*-------------------------------------------------- GALLERY1 --------------------------------------------------*/

.Gallery {
    background: linear-gradient(180deg, rgba(16, 16, 24, 0.9) 0%, rgba(16, 16, 24, 0) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
}

.Gallery ::-webkit-scrollbar:horizontal {
    height: 4px;
    width: auto;
}

.Desc1 a,
.Desc2 a,
.Desc3 a,
.Desc4 a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.Desc1,
.Desc2,
.Desc3,
.Desc4 {
    height: 42px;
    width: 232px;
    background-color: #000000;
    opacity: 80%;
    position: relative;
    text-align: center;
    margin-top: -46px;
    padding-top: 8px;
}

.Game1,
.Game2,
.Game3,
.Game4 {
    margin: 30px 40px;
}

.Game1 a img,
.Game2 a img,
.Game3 a img,
.Game4 a img {
    height: 286px;
    width: 232px;
    object-fit: cover;
}

.Game1:hover,
.Game2:hover,
.Game3:hover,
.Game4:hover {
    transform: scale(1.1);
    transition: .15s;
}




/*-------------------------------------------------- INFORMATIONAL --------------------------------------------------*/

.Info-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 130px 60px;
}

.Info-container img {
    height: 316px;
    width: 558px;
    padding-right: 70px;
    box-sizing: unset;
}

.text-box {
    display: block;
}

.text-box h4 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.text-box p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.read-btn {
    display: block;
    background-color: #FF6001;
    height: 42px;
    width: 150px;
    border-radius: 60px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 8px;
}

.read-btn:hover {
    background-color: white;
    transform: scale(1.1);
}

/*-------------------------------------------------- POPULAR GAMES --------------------------------------------------*/

.subtitle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: white;
  }
  
  .line {
    flex: 1;
    height: 0.5px;
    margin: 0 10px;
    background-color: white;
    max-width: 100%;
  }
  
  h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  h3 span {
    color: #FF6001;
  }

/*-------------------------------------------------- GALLERY2 --------------------------------------------------*/


.Gallery2 {
    background: linear-gradient(180deg, rgba(16, 16, 24, 0.9) 0%, rgba(16, 16, 24, 0) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
    position: relative;
}

.Desc5 a,
.Desc6 a,
.Desc7 a,
.Desc8 a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.Desc5,
.Desc6,
.Desc7,
.Desc8 {
    height: 42px;
    width: 232px;
    background-color: #000000;
    opacity: 80%;
    position: relative;
    text-align: center;
    margin-top: -46px;
    padding-top: 8px;
}

.Game5,
.Game6,
.Game7,
.Game8 {
    margin: 30px 24px;
}

.Game5 a img,
.Game6 a img,
.Game7 a img,
.Game8 a img {
    height: 286px;
    width: 232px;
    object-fit: cover;
}

.Game5:hover,
.Game6:hover,
.Game7:hover,
.Game8:hover {
    transform: scale(1.1);
    transition: .15s;
}



/*-------------------------------------------------- NEWSLETTER --------------------------------------------------*/

.Info-container2 {
    margin: 90px auto;
    padding: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info-container2 img {
    float: right;
    margin-right: 30px;
}

.text-box2 {
    display: block;
}

.text-box2 h4 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    width: 490px;
    margin-left: 30px;
    margin-top: 20px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.text-box2 p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 619px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------- Footer --------------------------------------------------*/

footer {
    height: 261px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Contact {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.Contact a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.Contact p {
    line-height: 1.0;
}
