/*-------------------------------------------------- GLOBAL --------------------------------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------- HEADER --------------------------------------------------*/

.header-wrapper {
    height: 112px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: flex;
    padding: 0px 122px;
}

.logocontainer {
    background-color: black;
    display: grid;
    width: 400px;
    height: 100%;
    padding-bottom: 24px;
}

.logo {
    color: #D22CF5;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding-top: 43px;
}

.logo span {
    color: white;
    font-weight: 400;
}

.logo p {
    font-size: 16px;
}

h1 {
    font-size: 16px;
    font-weight: 300;
    padding: 2px;
    margin: 10px 0px 10px;
    letter-spacing: 0.4px;
}


.header-navigation {
    width: 200px;
    display: flex;
    padding: 40px 0px 19px 0px;
    float: right;
    background-color: aliceblue;
}

.header-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px;
}

svg {
    height: 25px;
    width: 25px;
}

svg:hover {
    transform: scale(1.2);
}


/*-------------------------------------------------- NAVIGATIONBAR --------------------------------------------------*/


.navigation-container {
    height: 60px;
    width: 1440px;
    margin: 0 auto;
    padding-right: 100px;
    background-color: #101018;
}

.navigationbar {
    float: right;
}

.navigation li {
    list-style: none;
    display: inline-block;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    display: inline-block;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding-right: 40px;
}

.nav-link:hover {
    color: #D22CF5;
}

.navigation {
    padding: 0 auto;
    margin: 0 auto;
}

/*-------------------------------------------------- SEARCH --------------------------------------------------*/

.Searchbar {
    background-color: white;
    width: 490px;
    height: 42px;
    float: left;
    margin: 18px 0px 0px 122px;
}

.Searchbar input {
    color: black;
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
    padding-left: 35px;
    margin-top: 7px;
    margin-left: 10px;
    width: 390px;
}

.Searchbar img {
    height: 23px;
    width: 23x;
}

.Searchbar button {
    border: none;
    background-color: #FF6001;
    height: 42px;
    width: 50px;
    float: right;
    cursor: pointer;
}

/*-------------------------------------------------- HEROPICTURE/TEXT --------------------------------------------------*/

.Background {
    background-image: url(/IMAGES/header.png);
    height: 839px;
    width: 1440px;
    margin: 0 auto;
    padding: 0 auto;
    overflow: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Textbox {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.56) 100%);
    height: 270px;
    width: 588px;
    float: right;
    margin-top: 500px;
    border-radius: 40px 0px 0px 40px;
    display: grid;
}

.Textbox h2 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Montserrat';
    text-align: center;
    letter-spacing: 5.4px;
    margin-top: 52px;
    padding: 0 auto;
}

.Textbox p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 0px;
    margin-top: -20px;
    padding: 0 auto;
}

.view-btn {
    background-color: #FF6001;
    height: 42px;
    width: 150px;
    border-radius: 60px;
    margin-left: 220px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-family: 'Poppins';
    margin-bottom: 52px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 8px;
}

.view-btn:hover {
    background-color: white;
    transform: scale(1.1);
}

/*-------------------------------------------------- FEATURED GAMES --------------------------------------------------*/

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .line {
    flex: 1;
    height: 1px;
    margin: 0 10px;
    background-color: white;
    max-width: 594px;
  }
  
  h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  h3 span {
    color: #FF6001;
  }

/*-------------------------------------------------- GALLERY1 --------------------------------------------------*/

.Gallery {
    background: linear-gradient(180deg, rgba(16, 16, 24, 0.9) 0%, rgba(16, 16, 24, 0) 100%);
    width: 1440px;
    height: 332px;
    margin: 0 auto;
}

.Gallery-container li {
    float: left;
    margin: 40px 140px;
    list-style: none;
}

.Image-container {
    background-image: url(/IMAGES/lich.webp);
}

.Image-container2 {
    background-image: url(/IMAGES/grand.webp);
}

.Image-container3 {
    background-image: url(/IMAGES/got.png);
}

.Image-container4 {
    background-image: url(/IMAGES/ggg.png);
}

.Image-container, 
.Image-container2, 
.Image-container3, 
.Image-container4 {
    height: 286px;
    width: 224px;
    background-size: cover;
    position: absolute;
    background-position: center;
}

.Image-container:hover, 
.Image-container2:hover, 
.Image-container3:hover, 
.Image-container4:hover {
    transform: scale(1.1);
}

.Text {
    width: 224px;
    height: 46px;
    background-color: #000000;
    opacity: 80%;
    position: absolute;
    margin-top: 240px;
}

.Desc {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.Right {
    float: right;
    padding: 142px 122px 0px 0px;
}

.Left {
    float: left;
    padding: 80px 0px 0px 122px;
}

/*-------------------------------------------------- INFORMATIONAL --------------------------------------------------*/

.Info-container {
    margin: 90px auto;
    padding: 0 auto;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info-container img {
    float: left;
    margin-right: 30px;
}

.text-box {
    display: grid;
}

h4 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 490px;
    margin-left: 30px;
    margin-top: 20px;
}

.text-box p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 397px;
    margin-left: 30px;
}

.read-btn {
    background-color: #FF6001;
    height: 42px;
    width: 150px;
    border-radius: 60px;
    margin-left: 220px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-family: 'Poppins';
    margin-bottom: 52px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 8px;
}

.read-btn:hover {
    background-color: white;
    transform: scale(1.1);
}

/*-------------------------------------------------- POPULAR GAMES --------------------------------------------------*/

h5 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: white;
    text-align: center;
}

h5 span {
    color: #FF6001;
}

.Line3 hr {
    float: left;
    margin-left: 543.5px;
}

.Line4 hr {
    float: right;
    margin-right: 543.5px;
}

/*-------------------------------------------------- GALLERY2 --------------------------------------------------*/

.Gallery2 {
    background: linear-gradient(180deg, rgba(16, 16, 24, 0.9) 0%, rgba(16, 16, 24, 0) 100%);
    width: 1440px;
    height: 332px;
    margin: 0 auto;
}

.Gallery-container2 li {
    float: left;
    margin: 40px 140px;
    list-style: none;
}

.Image-container5 {
    background-image: url(/IMAGES/Call\ of\ duty.png);
}

.Image-container6 {
    background-image: url(/IMAGES/Assassins\ creed.png);
}

.Image-container7 {
    background-image: url(/IMAGES/carsss.png);
}

.Image-container8 {
    background-image: url(/IMAGES/drage.png);
}

.Image-container5, 
.Image-container6, 
.Image-container7, 
.Image-container8 {
    height: 286px;
    width: 224px;
    background-size: cover;
    position: absolute;
    background-position: center;
}

.Image-container5:hover, 
.Image-container6:hover, 
.Image-container7:hover, 
.Image-container8:hover {
    transform: scale(1.1);
}

.Text {
    width: 224px;
    height: 46px;
    background-color: #000000;
    opacity: 80%;
    position: absolute;
    margin-top: 240px;
}

.Desc {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.Right {
    float: right;
    padding: 142px 122px 0px 0px;
}

.Left {
    float: left;
    padding: 80px 0px 0px 122px;
}

/*-------------------------------------------------- NEWSLETTER --------------------------------------------------*/

.Info-container2 {
    margin: 90px auto;
    padding: 0 auto;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info-container2 img {
    float: right;
    margin-right: 30px;
}

.text-box {
    display: grid;
}

h4 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    width: 490px;
    margin-left: 30px;
    margin-top: 20px;
}

.text-box p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 619px;
    margin-left: 30px;
}

/*-------------------------------------------------- Footer --------------------------------------------------*/

footer {
    height: 261px;
    width: 1440px;
    background-color: black;
    list-style: none;
}

.Contact a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.Contact li p {
    font-size: 15px;
}

.About a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 0px 0px 200px 300px
}

.Follow img {
    height: 25px;
    width: 25px;
    margin-left: 5px;
}
